/* GLOBAL STYLES
-------------------------------------------------- */
a {
  color: #44B8FF;
}

a.nostyle {
 text-decoration: none;
 color: inherit;
 cursor: auto;
 }

.container1 {
line-height: 99px;
height: 600px;
align-items: center;
font: #0000;
position: relative;
background-image: url('https://github.com/Chad3758/Chad3758.github.io/blob/master/images/top-b.jpg?raw=true');
background-size:cover;
opacity: 0.7;
z-index:-1;



}

#fill{
  width: 100%;
}

.navbar{
  font-style: italic;
  font-size: 25px;
  
  align-items: flex-end;
}


.row{
  width: 1300px;
  margin-left: 350px;
}
.container2{
align-items: initial;
background-color: lightblue;
height: 600px;
width: 900px;
left: 500px;
top:300px ;
position: absolute;
z-index:1;
display:inline;
color: #FFF;
}
.container2 .row{
  
  margin-top: -550px;
  margin-left:475px;
  line-height:40px;
  text-align: center;
  width: 400px;
  
}
#selfimg{
  width: 400px;
  height: 550px;
  margin-top: 25px;
  margin-left: 25px;
}
.self{
  width: 450px;
}
.container3{
  background-color:honeydew ;
  height: 900px;
  font-size: 40px;
  margin: 0px;
  z-index: -1;
  position: relative;
  color: #1a1a1b;

}
.container3 h1 {
  top: 300px;
  color: #0000;
}

.container4{
  background-color:seashell ;
  height: 800px;
  color: rgb(3, 3, 3);
  
}


.container4 h4{
  margin-top:  70px;
}
.container5{
  background-color :seashell;
  height: 700px;
  margin-top:0px ;
}


.footer {
background-color: #2e3136;
border-top: 1px solid #989da4;
color: #cccccc;
padding: 40px 0;
bottom: 0px;
}

.footer a {
color: #ccc;
}

.footer a:hover {
text-decoration: underline;
}

.footer a:visited {
color: #ccc;
}



.footer-sub {

font-size: 50px;
display: inline-block;
position: absolute;

}



.btn {
position: relative;;
display: inline-block;
vertical-align: left;
margin-top: 150px;
margin-right:140px;
height: 110px;
width: 110px;
left: 280px;
font-size: 60px;
}
.ig, .fb, .gh{
left: 50px;
top: 100px;
}

.topnav-right {
  float: right;;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;

}




